.container-fluid {
  padding-left: 35px;
  padding-right: 35px;
}

.dod-title {
  font-family: "CSB";
  font-size: 20px;
}

.btn-success {
  width: 90px;
  height: 30px;
  padding: none;
  margin: 0;
}

.card-product:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}
.card {
  height: 300px;
}
.card-product .price-new,
.card-product .price {
  margin-right: 5px;
  font-size: 20px;
  font-family: "CSM";
}

.card-product .price-old {
  color: #999;
  font-size: 15px;
}

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 200px;
  text-align: center;
}

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}

.card-product .action-wrap {
  padding-top: 4px;
  margin-top: 4px;
}

.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
}

.order-btn {
  text-align: center;
}

.card-product .title {
  margin-top: 0;
  font-family: "CSB";
  font-size: 17px;
}
